<div class="course-view">
    <div class="row">
        <h4 id="cv-name" class="m-bottom col s11 offset-s1 grey-text text-darken-2">Course Name</h4>
        <a href="#"><h6 id="cv-semester" class="m-bottom col s11 offset-s1 grey-text text-darken-2">Semester</h6></a>
    </div>
    <div class="row">
        <div class="cv-course-card col s3 offset-s1 m-bottom white-text card truncate">
            <h6 class="cv-course center-align truncate">CODE</h6>
        </div>
        <h6 class="cv-days col s7 right-align">days</h6>
    </div>
    <div class="row">
        <div id="cv-description-card" class="card col s10 offset-s1">
            <h5>Description</h6>
            <p id="cv-description">This is a description for an event. Crazy right? The internet, man. What a time to be alive.</p>
        </div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/> 
</div>