<div class="event-view">
    <div class="row">
        <h4 id="ev-name" class="col s11 offset-s1 grey-text text-darken-2"></h4>
    </div>
    <div class="row">
        <div class="col s4 offset-s1">
            <div id="ev-course" class="white-text card hoverable truncate">
                <h6 id="ev-course-name" class="center-align truncate"></h6>
            </div>
        </div>
        <div class="col s6 right-align">
            <h6 id="ev-time"></h6>
        </div>
        <div id="ev-description-card" class="card col s10 offset-s1">
            <h5 id="ev-type"></h6>
            <p id="ev-description"></p>
        </div>
        <div class="card col s10 offset-s1">
            <h5>Milestones</h5>
            <ul id="ev-milestones" class="collection with-header"></ul>
        </div>
    </div><br/><br/><br/><br/><br/><br/><br/><br/> 
</div>