<div class="preview-view">
    <div class="previews row">
        <div class="preview-day col">
            <h3 class="center-align">16</h3>
        </div>
        <div class="preview-card card hoverable col">
            <div class="row">
                <strong><p class="col s8 truncate">Chemistry Assignment</p></strong>
                <h6 class="col s4 right-align">12:30p</h6>
            </div>
            <div class="row">
                <div class="col s6">
                    <div class="blue white-text card hoverable truncate">
                        <h6 class="center-align">EGR226</h6>
                    </div>
                </div>
                <h6 class="col s6 right-align">100% Complete</h6>
            </div>
        </div>
    </div>
</div>